body {
    font-family: "Rubik", sans-serif !important;
    background-color: #E7E0C9 !important;
    color: #11324D !important;
}

h1 {
    font-family: "Katahdin Round";
    font-size: 48pt !important;
}

h4 {
    margin-top: 10px !important;
    padding: 0px !important;
}

h6 {
    font-family: "Katahdin Round";
    margin: 0px !important;
    padding: 0px !important;
    padding-bottom: 20px !important;
    width: 20px !important;
    align-self: flex-end;
}

p {
    color: #6B7AA1 !important;
}

a {
    text-decoration: none !important;
    color: #11324D !important;
}

input {
    max-width: 580px !important;
}

input.transparent-input {
    background-color: transparent !important;
    border-color: #11324D !important;
    border-width: 5px;
}

img {
    width: 37px;
    height: 37px;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.relative-position {
    position: relative;
}

.home-button {
    margin: 0px !important;
    margin-top: 0px !important;
    padding: 50px;
    position: absolute;
    z-index: 2 !important;
}

.glyphicon {
    width: 37px !important;
    height: 37px;
}

.page-list-univ {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    position: absolute;
    z-index: 3;
    margin: 52px;
    margin-top: 120px;
    padding: 0px !important;
    width: 100vw;
    height: 150px;
}

.page-detail-univ {
    position: absolute;
    z-index: 3;
    margin: 100px;
    margin-top: 100px !important;
    /* height: 20vh; */
}

.card {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    position: absolute;
    padding: 52px;
    padding-top: 300px;
    width: 100vw;
    height: 30px;
    border-color: transparent !important;
}

.card-body {
    padding: 0px !important;
}

.list-group-item {
    font-family: "Rubik", sans-serif !important;
    color: #6B7AA1 !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

#custom-button {
    border-color: #11324D !important;
    color: #11324D;
    border-width: 5px;
    width: 178px;
}

#search-univ {
    letter-spacing: 15px;
}

#search-city {
    letter-spacing: 66px;
}

#search-country {
    letter-spacing: 26px;
}
