<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Unirank - Search Country</title>
</head>

<body>

    <div class="home-button">
        <a href="javascript:history.back()">
            <div class="row">
                <img class="col" src="../static/back.png">
                <h4 class="col">Back</h4>
            </div>
        </a>
    </div>

    <div class="text-center page-detail-univ">

        <div class="row card-body">
            <h3 class="card-title"><b>{{ univName }}</b></h3>
            <p class="card-text">
                <b>
                    {{ abstract }}
                </b>
            </p>
        </div>

        <br><br>

        <div class="row">
            <div class="col">
                <h3><b>International Rank</b></h3>
            </div>
            <div class="col">
                <h3><b>National Rank</b></h3>
            </div>
            <div class="col">
                <h3><b>Alumni Employee Rank</b></h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="list-group bg-transparent">
                    <li class="list-group-item">{{ wr2012 }} (2012)</li>
                    <li class="list-group-item">{{ wr2013 }} (2013)</li>
                    <li class="list-group-item">{{ wr2014 }} (2014)</li>
                    <li class="list-group-item">{{ wr2015 }} (2015)</li>
                  </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">{{ nr2012 }} (2012)</li>
                    <li class="list-group-item">{{ nr2013 }} (2013)</li>
                    <li class="list-group-item">{{ nr2014 }} (2014)</li>
                    <li class="list-group-item">{{ nr2015 }} (2015)</li>
                  </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">{{ ae2012 }} (2012)</li>
                    <li class="list-group-item">{{ ae2013 }} (2013)</li>
                    <li class="list-group-item">{{ ae2014 }} (2014)</li>
                    <li class="list-group-item">{{ ae2015 }} (2015)</li>
                  </ul>
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col">
                <h3><b>Type</b></h3>
            </div>
            <div class="col">
                <h3><b>Country</b></h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="list-group bg-transparent">
                    <li class="list-group-item">{{ typeLabel }}</li>
                  </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">{{ countryName }}</li>
                  </ul>
            </div>

    </div>

</body>
</html>