<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Unirank - Search University</title>
</head>

<body>

    <div class="home-button">
        <a href="{% url 'main' %}">
            <div class="row">
                <img class="col" src="../static/home.png">
                <h4 class="col">Home</h4>
            </div>
        </a>
    </div>

    <div class="page-list-univ">
        <div class="row">
            <h1 class="col text-start">UNIRANK</h1>
            <h6 class="col" id="search-univ">UNIVERSITY</h6>

            <div class="inner-addon right-addon">
                <a class="glyphicon glyphicon-search" href="{% url 'main' %}">
                    <img src="../static/search.png">
                </a>
                <!-- <i class="bi bi-search"></i> -->
                <input type="text" class="form-control transparent-input rounded-pill" placeholder="University">
            </div>
        </div>
    </div>

    <div class="card bg-transparent w-75">
        {% for univ in univ_list %}
        <a href="{% url 'detail' univ.url_detail %}">
            <div class="row card-body">
                <h3 class="card-title"><b>{{ univ.university }}</b></h3>
                <p class="card-text">
                    <b>
                        {{ univ.abstract }}
                    </b>
                </p>
            </div>
        </a>
        <br>
        {% endfor %}
    </div>

</body>
</html>