<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Welcome to Unirank</title>
</head>

<body class="container-xl">

    <div class="vertical-center relative-position">    
        <div class="row">
            <div class="login-form-container">
                <h1 class="text-center">UNIRANK</h1>

                <p class="text-center">Choose rank based on what you want<br></p>

                <div class="row">
                    <p class="text-center col">
                        <a id="custom-button" class="btn rounded-pill" href="{% url 'search_university' %}">University</a>
                    </p>
                    <p class="text-center col">
                        <a id="custom-button" class="btn rounded-pill" href="{% url 'search_city' %}">City</a>
                    </p>
                    <p class="text-center col">
                        <a id="custom-button" class="btn rounded-pill" href="{% url 'search_country' %}">Country</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>