<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Unirank - Search University</title>
</head>

<body>

    <div class="home-button">
        <a href="{% url 'main' %}">
            <div class="row">
                <img class="col" src="../static/home.png">
                <h4 class="col">Home</h4>
            </div>
        </a>
    </div>

    <div class="vertical-center relative-position container-xl">    
        <div class="row">
            <h1 class="col text-start">UNIRANK</h1>
            <h6 class="col" id="search-univ">UNIVERSITY</h6>

            <div class="inner-addon right-addon">
                <!-- <a class="glyphicon glyphicon-search" href="{% url 'main' %}">
                    <img src="../static/search.png">
                </a> -->
                <!-- <i class="bi bi-search"></i> -->
                <form action="{% url 'search_university' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" class="col form-control transparent-input rounded-pill" name="search" placeholder="University">
                    <input type="image" value="Submit" class="col-3 glyphicon" src="../static/search.png" name="submit" alt="submit"/>
                </form>
            </div>
        </div>
    </div>

</body>
</html>